@import "../../node_modules/unsemantic/assets/sass/partials/unsemantic-vars";
@import "../../node_modules/unsemantic/assets/sass/partials/unsemantic-grid-responsive";
@import "normalize";

@include unsemantic-grid-placeholders;

/* =========== */
/* Variables */
/* =========== */
$header-bg-color: rgb(67, 106, 135);
$sub-header-bg-color: rgb(146, 178, 195);
$footer-bg-color: rgb(176, 176, 176);
$placeholder-color: rgb(190, 131, 30);

/* =========== */
/* Layout */
/* =========== */


* {
  //outline: 1px solid orange;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {

  footer, .page-body, .row {
    @extend %grid-columns-all;

    margin:0;
    padding:0;
  }

  header {
    background-color: $header-bg-color;
  }

  .sub-header {
    background-color: $sub-header-bg-color;
  }

  #page-body {
    margin-top: 10px;
    .placeholder {
      text-align: center;
    }
  }

  footer {
    background-color: $footer-bg-color;
  }

  .placeholder {
      margin: 15px 0;
      width: 100%;
      min-height: 100px;
      background-color: $placeholder-color;

      .placeholder {
          background-color: lighten( $placeholder-color, 10% );
      }
  }

}
